.product-images-slider .swiper-slide {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}
.product-images-slider .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-images-slider .swiper-button-prev {
  left: 0;
  color: #ccc;
}
.product-images-slider .swiper-button-next {
  right: 0;
  color: #ccc;
}
.product-images-slider-thumbs {
  width: 360px;
  height: 80px;
  margin-top: 1rem;
}
.product-images-slider-thumbs .swiper-slide img {
  height: 80px;
  object-fit: cover;
}
.product-images-slider-thumbs .swiper-slide {
  cursor: pointer;
  border: 1px solid #dddbdb;
  overflow: hidden;
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
  border: 2px solid #ccc;
  padding: 3px;
}
.product-images-slider-thumbs-wrapper {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}
.product-images-slider-thumbs-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
